@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-rgb: 37 99 235; /* Updated to a darker blue */
  --green-rgb: 16 185 129;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #94d2ef; /* Dark background */
  color: #e2e8f0; /* Light text color for contrast */
  overflow: auto;
}

body:has(.card[data-color="blue"]:hover) {
  background-color: rgba(var(--blue-rgb), 0.25);
}

body:has(.card[data-color="green"]:hover) {
  background-color: rgba(var(--green-rgb), 0.25);
}

@layer utilities {
  .max-container {
    @apply max-w-5xl mx-auto sm:pt-20 pb-10 pt-24 px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply mt-5 sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins text-black;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative font-poppins text-gray-800;
  }

  .blue-gradient_text {
    @apply bg-gradient-to-r from-blue-400 to-blue-700 bg-clip-text text-transparent;
  }
  .black-gradient_text {
    @apply bg-gradient-to-r from-slate-500 to-blue-900 bg-clip-text text-transparent;
  }

  .input {
    @apply bg-blue-200 border border-gray-700 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal shadow-card;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-black bg-blue-200 rounded-lg border border-gray-700 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-blue-500 to-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-6xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0 text-white;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7 text-gray-300;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl neo-brutalism-blue pt-4 pb-12 px-8;
  }

  .neo-btn {
    @apply py-3 px-6 rounded-lg text-blue-500 text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .cta {
    @apply w-full flex items-center md:flex-row flex-col sm:mt-16 mt-8 mb-6 gap-7;
  }

  .cta-text {
    @apply text-gray-950 font-bold flex-1 text-3xl max-md:text-center;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeBye {
    0% {
      opacity: 0;
      color: rgb(255, 255, 255);
    }
    10% {
      opacity: 0;
      color: rgb(255, 255, 255);
    }
    60% {
      opacity: 0;
      color: rgb(255, 255, 255);
    }
    70% {
      opacity: 0.2;
      color: rgb(255, 48, 141);
    }
    80% {
      opacity: 0.13;
      color: rgb(255, 48, 141);
    }
    90% {
      opacity: 0.13;
      color: rgb(255, 48, 141);
    }
    95% {
      opacity: 0.7;
      color: rgb(255, 0, 10);
    }
    100% {
      opacity: 0;
      color: rgb(240, 0, 0);
    }
  }
  @keyframes Col {
    0% {
      opacity: 0;
      color: rgb(255, 255, 255);
    }
    22% {
      opacity: 0;
      color: rgb(255, 48, 141);
    }
    44% {
      opacity: 0.6;
      color: rgb(182, 46, 255);
    }
    66% {
      opacity: 0.6;
      color: rgb(220, 51, 152);
    }
    100% {
      opacity: 0;
      color: white;
      display: none;
    } 
  }
  @keyframes fadearrow {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .fade-in {
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  .fadewelcome {
    animation: Col 8s ease-in-out forwards;
  }
  .fade-bye {
    animation: fadeBye 15s ease-in-out infinite;
  }
  .fade-arrow {
    animation: fadearrow 10s ease-in-out infinite;
  }
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #1a202c; /* Dark background for logo */
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
              0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 3ch #a1abf1;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #1e545a 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #f4f8ff30; /* Dark transparent background */
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  background: #1a202c;
  position: relative;
  border-radius: 10px;
  border: #2b77e7;
  box-shadow: 0.6vmin 0.6vmin #336cc1, 1vmin 1vmin #0092db, 1vmin 1vmin #0092db,
              0.65vmin 1vmin #0092db, 1vmin 0.65vmin #0092db;
}

.neo-brutalism-white {
  background: #2d3748; /* Darker white */
  border: #2d3748;
  box-shadow: 0.6vmin 0.6vmin #2d3748, 1vmin 1vmin #4a5568, 1vmin 1vmin #4a5568,
              0.65vmin 1vmin #4a5568, 1vmin 0.65vmin #4a5568;
}

.neo-brutalism-magenta {
  background: #1a202c;
  position: relative;
  opacity: 70%;
  border-radius: 10px;
  border: #d926a9; /* Magenta border color */
  box-shadow: 
    0.6vmin 0.6vmin #ff00ff,  /* Magenta shadow color 1 */
    1vmin 1vmin #ff00ff,      /* Magenta shadow color 2 */
    1vmin 1vmin #ff00ff,      /* Magenta shadow color 3 */
    0.65vmin 1vmin #ff00ff,   /* Magenta shadow color 4 */
    1vmin 0.65vmin #ff00ff;   /* Magenta shadow color 5 */
}

.neo-brutalism-purple {
  background: rgba(255, 255, 255, 0.4);
  position: relative;
  border-radius: 10px;
  border: #6a0dad; /* Purple border color */
   /* Purple shadow color 2 */
}

.link {
  background: rgba(255, 255, 255, 0.4);
  position: relative;
  border-radius: 20%;
  padding: 3px 8px 3px 8px;
  margin: 0px 4px 0px 4px;
}

.link-amongus {
  background: rgba(255, 225, 2, 1);
  position: relative;
  border-radius: 20%;
  padding: 3px 6px 3px 6px;
  margin: 0px 4px 0px 4px;
}

.neo-brutalism-purple2 {
  background: rgba(255, 255, 255, 0.4);
  position: relative;
  border-radius: 10px;
  border: #6a0dad; /* Purple border color */
  box-shadow: 
    0.3vmin 0.3vmin #4b0082,  /* Indigo shadow color */
    0.66vmin 0.66vmin #0000ff,      /* Blue shadow color 1 */
    0.66vmin 0.66vmin #0000ff,      /* Blue shadow color 2 */
    0.44vmin 0.66vmin #6a0dad,   /* Purple shadow color 1 */
    0.66vmin 0.44vmin #6a0dad;   /* Purple shadow color 2 */
}
